# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Editor folders
.vscode/
.idea/
.history/

# Logs
*.log
php_errors.log
error_log

# Local environment files
.env
.env.*

# Dependency folders
vendor/
node_modules/

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.orig
*.zip

# Local cache folders
tmp/
cache/
coverage/
.sass-cache/
